<!DOCTYPE html>
<html>
<head>
  <title>Angdevise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <script src="devise.js"></script>

</head>
<body>


<body ng-app="AuthApp">

	<div ng-controller="myCtrl">
	{{currentUser}}

	<input ng-model="email" type="text">
	<input ng-model="password" type="text">
	<button ng-click="login()">Log meh in</button>
	<button ng-click="logOut()">Log meh out</button>

	<div ng-repeat ="post in posts">
		
		{{post.title}}
	</div>
   
   </div>
</body>


</body>
</html>
